# This is a basic workflow to help you get started with Actions

name: Alert for build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: slack-send
        uses: slackapi/slack-github-action@v1.26.0
        with:
          # Slack channel ID where message will be posted. Needed if using bot token
          channel-id: ${{ secrets.SLACK_CHANNEL_APK_DELIVERY }}
          # Message to post into Slack. Needed if using bot token
          slack-message: TEST!!
          # JSON payload to send to Slack if webhook route. If not supplied, json from GitHub event will be sent instead
          payload: |
            {
              "text": "payload text"
              "attachments": [
                {
                  "text": "choose an action",
                  "color": "#abcdef",
                  "attachment_type": "default",
                  "actions": [
                    {
                      "name": "build-release",
                      "text": "build release",
                      "type": "button",
                      "value": "build-release"
                    },
                    {
                      "name": "build-debug",
                      "text": "build debug",
                      "type": "button",
                      "value": "build-debug"
                    }
                  ]
                }
              ]
            }
          # path to JSON payload to send to Slack if webhook route. If not supplied, json from GitHub event will be sent instead. If payload is provided, it will take preference over this field
          # payload-file-path: # optional
          # Replace templated variables in the JSON payload file with values from the GitHub context and environment variables
          # payload-file-path-parsed: # optional, default is true
          # The timestamp of a previous message posted. It will update the existing message instead of posting a new message
          # update-ts: # optional
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          
